
  <!-- -------------------------------------------------------------------------------------- -->
  <!-- footer -->

<footer class="page-footer cyan accent-3" style="margin-bottom:-20px;  ">
  <div class="container" id="contact">
    <div class="row" style="margin-top: 20px;">
      <div class="col s12 l12">
        <p> <b> Let's Connect!</b></p>
        <p style="margin-top: 25px;" > Wenn Sie Fragen haben oder uns einfach so kontaktieren wollen: Wir sind immer gerne für Sie da!</ptyle="margin-top: -10px;">
        <p style="margin-top: -10px;"> Sie erreichen uns unter den folgenden Kontaktoptionen:  </p>
      </div>
    </div>


    <div class="row" style="margin-top: 40px; margin-left:0%">
      <div class="col s12 l2 " style="font-size:13px">
        <p style="margin-top: 20px;">Frederic Krehl</p>
        <p style="margin-top: -12px;">Grunewaldstraße&nbsp;90</p>
        <p style="margin-top: -12px;">10823 Berlin</p>
        <p style="margin-top: -12px;">frederic.krehl@sensaktor.de </p>
        <a href="https://www.sensaktor.de"> 
          <p style="margin-top: -12px;font-size:13px"> www.sensaktor.de </p>
        </a>
      </div>


    </div>
  </div>

  <div class="footer-copyright cyan accent-3" style="margin-top: 60px;" >
    <div class="container center-align ">
 <a href="/imprint">Impressum</a> &nbsp; &nbsp;  &nbsp; <a href="/data-privacy">Datenschutzerklärung</a> &nbsp; &nbsp;  &nbsp; &copy; 2020 Frederic Krehl 
    </div>
  </div>
</footer>

  <!-- END footer -->
  <!-- -------------------------------------------------------------------------------------- -->
