

<!-- -------------------------------------------------------------------------------------- -->
<!-- Navbar -->


  <div class="navbar-fixed"  >
    <nav class="nav-wrapper z-depth-5 white accent-3">
      <div>
        <a href="/" class="brand-logo left ">
          <img src="../static/main/images/wirvsvirus-ampel2go_logo.png" width="350px" margin-bottom="20px">
        </a>       
        <a href="/"  margin-left="500px">
        </a>
      </div>
    </nav>
  </div>


<!-- END Navbar --> 
<!-- -------------------------------------------------------------------------------------- -->
